<div class="container headers">
    <div class="row">
        <div class="col">
            <h1>Layout: {{ this.layout.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <BsButton @type="warning"
                @defaultText="Clear out this layout"
                @onClick={{action "clearLayout"}}
                @pendingText="Clearing out layout...">
            </BsButton>
            <BsButton @type="danger"
                @defaultText="Delete this layout"
                @onClick={{action "deleteLayout"}}
                @pendingText="Deleting layout...">
            </BsButton>
        </div>
    </div>
    <div class="row">
        <div class="col">
            To create a rectangle just start clicking and dragging
        </div>
    </div>
    <div class="row">
        <div class="col">
            To move a rectangle just click it and drag it
        </div>
    </div>
    <div class="row">
        <div class="col">
            To resize a rectangle, click and drag it from the bottom right corner
        </div>
    </div>
    <div class="row">
        <div class="col">
            To delete a rectangle, shift + click the rectangle you want to delete
        </div>
    </div>
</div>

<div class="layout-view">
    <Layout @rectangles={{this.rectangles}} 
            @addRectangle={{addRectangle}}
            @updateRectangle={{updateRectangle}}
            @deleteRectangle={{deleteRectangle}}/>
</div>