<h1>Layout: {{ this.model.name }}</h1>

<Layout @rectangles={{rectangles}} 
        @addRectangle={{addRectangle}}
        @updateRectangle={{updateRectangle}}
        @deleteRectangle={{deleteRectangle}}/>