<h1>Layout: {{ this.model2 }}</h1>

<Layout @rectangles={{this.model}} 
        @addRectangle={{addRectangle}}
        @updateRectangle={{updateRectangle}}
        @deleteRectangle={{deleteRectangle}}/>